name: Build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install stable toolchain
        uses: helix-editor/rust-toolchain@v1
        with:
          profile: minimal
          override: true

      - uses: Swatinem/rust-cache@v1

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v32

      - name: Themelint all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
            cargo xtask themelint "$file"
          done
